body {background-color: #0b0b75;}

h1 {
    color: darkred;
    text-indent: 99px;
}

p {
    color: black;
    text-indent: 99px;
}

.btn-group .button1
{
    background-color: darkred;
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 214px;
}

.btn-group .button1:hover
{
    background-color: white;
    color: darkred;
}